html,
body,
#Page1,
#Page2,
#Page3 {
    height: 100%;
    margin: 0;
    padding: 0;
}

#Page1 {
    margin: 0 auto;
    max-width: 1920px;
    background: url(img/background1.jpg) 50% 50% no-repeat;
    background-size: contain;
}

#Page2 {
    margin: 0 auto;
    max-width: 1920px;
    background: url(img/background2.jpg) 50% 50% no-repeat;
    background-size: contain;
}

#Page3 {
    margin: 0 auto;
    max-width: 1920px;
    background: url(img/background1.jpg) 50% 50% no-repeat;
    background-size: contain;
}

#tablero{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#wrappermenu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 5vh;
}
#botonvolver{
    position: absolute;
    bottom: 0;
}
ul {
    list-style-type: none;
    padding: 0px;
    text-align: center;

}

li {
    height: 30px;
    line-height: 30px;
}

#botonjugar {
    margin-left: 10px;
}

#wrapperboton {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
#wrapperboton2 {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    font-family: sans-serif;
}

#contenedor {
    width: 600px;
    padding: 20px;
    margin: 20px auto;
    border: 10px solid black;
    text-align: center;
    position: relative;
}

h1 {
    background: black;
    color: white;
    margin: 10px 0 0px 0;
    padding: 20px;
    padding-top: 20px;
    font-size: 36px;
}

.pc,
.usuario {
    width: 120px;
    height: 200px;
    max-width: 120px;
    max-height: 200px;
    margin: 20px 20px 20px 20px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: top;
}

.nro {
    font-size: 48px;
    font-weight: bold;
}

p {
    font-size: 24px;
    display: inline-block;
}

#puntaje {
    padding: 10px;
    text-align: left;
    color: white;
}

#puntaje2 {
    background: #EBDC6A;
    padding: 10px;
    text-align: right;
    color: white;
}

input {}

#mensaje {
    width: 300px;
    display: none;
    position: absolute;
    bottom: 30px;
    right: 50px;
}

#separador {
    background: black;
    width: auto;
}

#puntajep1 {
    float: right;
    background: #EBA26A;
    width: 50%;
    text-align: right;
    border-top-right-radius: 25px;
}

#puntajep2 {
    float: left;
    background: #EBDC6A;
    width: 50%;
    border-top-left-radius: 25px;
}

.fondojugador {
    background: #EBA26A;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.fondocomputadora {
    background: #EBDC6A;
    text-align: right;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

#JugadorHUD {
    text-align: center;
    border-radius: 3px;
    padding: 10px;
    background: #EBA26A;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

#HUDgador2 {
    margin: auto;
    width: 50%;
    border: 3px solid white;
    padding: 10px;
}

#cartas-jugador,
#cartas-computadora {
    width: 800px;
    height: 300px;
}
